.st{
	width: 1200px;
	height: 910px;
	margin: 0 auto;
	margin-top: 15px;
}
.st01{
	font-size: 16px;
	color: #666666;
	margin-left: 15px;
}
.st01 a{
	font-size: 16px;
	color: #666666;
}
.st01 a:hover{
	color: blue;
}
.st02{
	width: 100%;
	height: 300px;
	margin-top: 15px;
	background: url(../img/conBanner.png)no-repeat;
	cursor: pointer;
}
.st03{
	width: 100%;
	height: 560px;
	margin-top: 10px;
}
.st0301{
	width: 260px;
	height: 165px;
	float: left;
}
.st0301 li{
	width: 260px;
    height: 40px;
	margin-top: 1px;
    text-align: center;
	font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    background: url(../img/procMecha_lul.jpg) no-repeat;
}
.st0301 li.xxz{
	color: #FFFFFF;
	background: url(../img/procMecha_lulclk.jpg) no-repeat;
}
.st0302{
	float: right;
}
.st0302 div{
	width: 910px;
	/*height: 560px;*/
	display: none;
}
.st0302 div.xxz2{
	display: block;
}
