.st{
	width: 1200px;
	height: 1680px;
	margin: 0 auto;
	margin-top: 15px;
}
.st01{
	font-size: 16px;
	color: #666666;
	margin-left: 15px;
}
.st01 a{
	font-size: 16px;
	color: #666666;
}
.st01 a:hover{
	color: blue;
}
.st02{
	width: 1200px;
	height: 300px;
	margin-top: 15px;
	background: url(../img/conBanner.png)no-repeat;
}
.st03{
	width: 1198px;
	height: 50px;
	margin-top: 10px;
    border: solid 1px #ccc;
    background: #E0DEDA;
    color: #666666;
}
.st03_ul{
	float: left;
    background: #FFF;
    border: 1px solid #999999;
    margin-top: 10px;
    margin-left: 10px;
}
.st03_ul li{
	float: left;
	width: 69px;
	height: 28px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	line-height: 28px;
	border-right: 1px solid #999999;
	background: #FFF;
}
.st03_ul li a{
	 color: #666666;
	 cursor: pointer;
	 text-decoration: none;
}
.st04{
	width: 1215px;
	height: 1200px;
	margin-right: -15px;
}
.st04_div{
	width: 290px;
	height: 380px;
	margin: 15px 13px 0 0;
    overflow: hidden;
    float: left;
}
.st04_div a{
	display: block;
	border: solid 1px #A9A9A8;
    text-align: center;
} 
.st04_div a img{
	width: 280px;
	height: 280px;
}
.st04_div_p1{
	width: 275px;
    padding: 0 5px 0 10px;
    line-height: 22px;
    margin-top: 5px;
    height: 46px;
    overflow: hidden;
    font-size: 14px;
}
.st04_div_p2{
	font-size: 16px;
    margin-top: 3px;
    padding-left: 10px;
}
.st04_div_p2 span{
	color: #0066CC;
    font-weight: bold;
}
.st04_div s{
	font-size: 16px;
    margin-top: 5px;
    padding-left: 10px;
}
.st05{
	width: 1180px;
	height: 40px;
	background: pink;
	margin: 40px 20px 0 0;
    font-size: 14px;
    line-height: 40px;
}











































